.section-side-left {
    background-color: #171a29;
}

/* .item1, .item4 {
    border-bottom: 1px solid #c89c64;
  }
   */

.section-side-left  {
    border-right: 2px solid #c89c64;
} 

@media (max-width: 640px) {
    .section-side-left  {
        border-right: none;
        border-top: 2px solid #c89c64;
    } 
    
}

.case-icon {
    color: #c89c64;
}

.table-wrap {
    height: 200px;
    overflow-y: auto;
}

/* .table-assign tbody tr:hover {
    background-color: #96717128;
}

.table-assign tbody tr:active {
    background-color: #08b32d28;
} */
/* 
.notification-div {
    border: 2px solid #c89c64;

} */

.notification-container, .updates-container {
    border: 1px solid #c89c64;
}

.trial-card {
    /* background-color: #171a29; */
    border: 1px solid #c89c64;
    color: #3d372f;
}

.trial-card:hover {
    border: 1px solid #00ca4e;
}

.txt-wht  {
    color: black;
}


.right-section {
    display: none;
  }
  
.trial-card:hover .right-section {
display: flex;
}

.trial-card {
transition: transform 0.3s ease;
}

.trial-card:hover {
transform: translateY(-2px); 
}